{% load static %}
<!-- Navigation -->
<nav class="navbar">
  <div class="nav-container">
    <a href="{% url 'gallery:index' %}" class="logo">
      <img
        src="{% static 'Peashan.png' %}"
        alt="Peashan Enterprises Logo"
        class="logo-img"
      />
      <div class="logo-text">Peashan<span> Enterprises</span></div>
    </a>

    <ul class="nav-links">
      <li>
        <a
          href="{% if request.path == '/gallery/' %}{% url 'gallery:index' %}{% else %}#home{% endif %}"
          class="nav-link"
        >
          Home
        </a>
      </li>
      <li>
        <a
          href="{% if request.path == '/gallery/' %}#{% else %}{% url 'gallery:gallery' %}{% endif %}"
          class="nav-link {% if request.path == '/gallery/' %}active{% endif %}"
        >
          {% if request.path == '/gallery/' %}Portfolio{% else %}Gallery{% endif%}
        </a>
      </li>
      <li>
        <a
          href="{% if request.path == '/gallery/' %}{% url 'gallery:index' %}#services{% else %}#services{% endif %}"
          class="nav-link"
        >
          Services
        </a>
      </li>
      <li>
        <a
          href="{% if request.path == '/gallery/' %}{% url 'gallery:index' %}#about{% else %}#about{% endif %}"
          class="nav-link"
        >
          About
        </a>
      </li>
      <li>
        <a
          href="{% if request.path == '/gallery/' %}{% url 'gallery:index' %}#contact{% else %}#contact{% endif %}"
          class="nav-link"
        >
          Contact
        </a>
      </li>
    </ul>

    {% if request.path == '/gallery/' %}
    <div class="search-container">
        <label for="search-input"></label>
        <input
        type="text"
        class="search-input"
        id="search-input"
        placeholder="Search portfolio..."
      />
      <i class="fas fa-search search-icon"></i>
    </div>
    {% endif %}

    <button class="mobile-menu-btn" id="mobile-menu-btn">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</nav>
