{% extends 'base.html' %}

{% block navigation %}
    {% include 'includes/navigation.html' %}
{% endblock %}

{% block content %}
    {% include 'includes/hero.html' %}
    {% include 'includes/services.html' %}
    {% include 'includes/portfolio.html' %}
    {% include 'includes/lightbox.html' %}
    {% include 'includes/partners.html' %}
    {% include 'includes/contact.html' %}
    {% include 'includes/whatsapp.html' %}
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}

{% block scripts %}
    {% include 'includes/scripts.html' %}
{% endblock %}